body {
  font-family: 'Noto Sans TC', sans-serif;
  background-image: url(../images/0101.jpg);
}


@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.a {
  font-size: 18px;
  color: #F00;
  text-align: center;
}

p {
  font-size: 16px;
  color: #F00;
  padding: 0 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.menu {
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu li {
  margin: 0 0.5rem;
}